{% extends 'base.html' %}
{% block content %}

<a href="{% url 'mapas1' %}" class="button is-large is-success" style="position: fixed; bottom: 60px; right: 200px;">
    <span class="icon">
        <i class="fa-solid fa-chevron-left" style="margin-right: 8px;"></i>
    </span>
    PREVIOUS 
</a>
<a href="{% url 'mapas3' %}" class="button is-large is-success" style="position: fixed; bottom: 60px; right: 60px;">
    NEXT
    <span class="icon">
        <i class="fa-solid fa-chevron-right" style="margin-left: 8px;"></i>
    </span>
</a>

{% endblock %}
