{% extends 'base.html' %}
{% load static %}
{% block content %}       

    <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: 'Lora', serif;
        text-align: center;
    ">
        <div style="
            padding: 40px;
            background-color: transparent;
        ">
            <h1 style="
                font-size: 4rem;
                color: #2e2e2e;
                margin-bottom: 30px;
            ">
            Thank you very much
            </h1>
            <p style="
                font-size: 2rem;
                color: #2e2e2e;
                margin-bottom: 50px;
            ">
            I hope this message has inspired some reflection within you.
            </p>
            <a href="{% url 'mapas1' %}" class="button is-large is-success" style="color: black; font-size: 1.8rem;">
                View message again
            </a>
            
        </div>
    </div>
{% endblock %}